.about-us {
  background: url(../img/bg_promo.jpg) repeat;
  width: 100%;
  padding: 24px 20px 15px;
  border-radius: 13px;

  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: $font-weight_medium;
    line-height: 30px;
    color: $c_text_base;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__feature {
    width: 48.85%;
    position: relative;
    margin-bottom: 9px;
    padding-top: 12px;
    padding-left: 56px;
    font-size: 16px;
    color: $c_text_base;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: $c_text_base;
    fill-rule: evenodd;
  }
}
