.actions {
  min-width: 267px;
  max-width: 350px;
  text-align: right;

  &__item {
    display: inline-block;
    vertical-align: top;
    min-height: 32px;
    margin-top: 14px;
    font-size: 14px;
    margin-right: 10px;
  }

  &__item:last-of-type {
    margin-right: 0;
  }
}