.info-blog {
  @include column(1/2);
  min-height: 232px;
  padding: 24px 20px 20px;
  border-radius: 13px;
  background: #fff url(../img/bg_blog-new.jpg) no-repeat right 0 top 0;
  background-size: cover;

  &__wrap {
    max-width: 300px;
  }

  &__title {
    display: block;
    margin-bottom: 5px;
    font-size: $font-size_base;
    font-weight: $font-weight-medium;
    color: $c_text_base;
  }

  &__link {
    font-size: $font-size_l;
    font-weight: $font-weight_bold;
    color: $c_text_base;
    line-height: 1.27;
  }
}
