.page-content {
  position: relative;

  &__title {
    max-width: 70%;
    margin-bottom: 52px;
    font-size: 35px;
    line-height: 35px;
    font-weight: $font-weight_bold;
    color: $c_text_alt;
  }
}
