.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;

  &__list {
    @include clear-list;
    margin-right: -10px;
    font-size: 0;
    display: flex;
  }

  &__item {
    margin-left: 3px;
    font-size: $font-size_base;
    font-weight: $font-weight_medium;
    color: $c_text_alt;
  }

  &__link {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: $c_text_base;
    line-height: 26px;
    text-align: center;
    color: $c_text_alt;
    text-decoration: none;
  }

  &__link:not(.catalog-pagination__link--current):hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__link-prev,
  &__link-next {
    font: 0/0 a;
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  &__svg-prev,
  &__svg-next {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: $c_text_alt;
    transform: translate(-50%,-50%);
  }

  &__link-next {
    margin-left: 4px;
  }

  &__link-prev {
    margin-right: 4px;
  }

  &__link-prev--disabled &__svg-prev,
  &__link-next--disabled &__svg-next  {
    fill: rgba(255, 255, 255, 0.2);
  }

  &__link-prev--disabled,
  &__link-next--disabled,
  &__link--current  {
    cursor: default;
  }

  &__link--current,
  &__link:active,
  &__link:active:hover {
    background-color: $c_text_alt;
    color: $c_text_base;
  }
}
