.slider-input {
  display: none;
}

.slider-input[id="toggle-1"]:checked ~ .page {
  background: $bg_page_1 url(../img/bg_slider-1.jpg) no-repeat 50% 0;
}

.slider-input[id="toggle-2"]:checked ~ .page {
  background: $bg_page_2 url(../img/bg_slider-2.jpg) no-repeat 50% 0;
}

.slider-input[id="toggle-3"]:checked ~ .page {
  background: $bg_page_3 url(../img/bg_slider-3.jpg) no-repeat 50% 0;
}

.slider {
  position: relative;
  min-height: 565px;
  margin-bottom: 40px;

  &__slide {
    display: none;
    min-height: 565px;
    max-height: 700px;
    overflow: auto;
    padding-top: 314px;
    text-align: center;
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    font-weight: $font-weight_bold;
    color: $c_text_alt;
  }

  &__controls {
    position: absolute;
    bottom: 60px;
    display: flex;
  }

  &__toggle {
    display: block;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid $bg_light;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $bg_light;
    }

    &:active {
      background-color: $bg_light;
    }
  }

  &-input[id="toggle-1"]:checked ~ .page &__slide--1 {
    display: block;
  }

  &-input[id="toggle-2"]:checked ~ .page &__slide--2 {
    display: block;
  }

  &-input[id="toggle-3"]:checked ~ .page &__slide--3 {
    display: block;
  }

  &-input[id="toggle-1"]:checked ~ .page &__toggle[for="toggle-1"] {
    background-color: $bg_light;
  }

  &-input[id="toggle-2"]:checked ~ .page &__toggle[for="toggle-2"] {
    background-color: $bg_light;
  }

  &-input[id="toggle-3"]:checked ~ .page &__toggle[for="toggle-3"] {
    background-color: $bg_light;
  }
}
