//COLORS
$c_logo: #fff;

$c_text_base: #333;
$c_text_alt: #fff;

$c_link: $c_text_base;
$c_link-hover: #ec593c;
$c_link-active: #ec593c;

$bc_link: rgba($c_link, 0.3);
$bc_link-hover: rgba($c_link-hover, 0.3);
$bc_link-active: rgba($c_link-active, 0.3);

$c_link_alt: $c_text_alt;
$c_link-hover_alt: #ffbc9e;
$c_link-active_alt: #ffbc9e;

$bg_page_1: #849d8f;
$bg_page_2: #8996a6;
$bg_page_3: #9d8b84;

$bg_light: #f8f7f4;

$bg_nav-cur: #d07058;

$bg_sub-nav-hover: #fbded7;
$bg_sub-nav-act: #f6b5a5;

$bg_sub-nav-title: #d1d0ce;

$gr_btn: linear-gradient(to top, #e74a35, #f26843);

$bg_block: rgba(255, 255, 255, 0.2);

$bg_hover: rgba(255, 255, 255, 0.3);

$bc_input: #d3d3d2;
$bc_input-hov: #c7c6c5;
$bc_input-foc: #8fbdec;

$bg_social: rgba(255, 255, 255, 0.8);
$bg_social-hov: rgba(255, 255, 255, 0.98);
$bg_social-act: rgba(255, 255, 255, 0.9);

$bc_social: rgba(255, 255, 255, 0.5);

$shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
$shadow_toggle: 0 2px 2px rgba(0, 0, 0, 0.1);

//TYPOGRAPHY
$font-family: "Roboto", "Arial", sans-serif;

$font-size_base: 16px;
$font-size_xs: 12px;
$font-size_s: 14px;
$font-size_l: 22px;
$font-size_xl: 35px;
$font-size_xxl: 60px;

$lh_base: 22/16;

$font-weight_base: 400;
$font-weight_medium: 500;
$font-weight_bold: 700;
$font-weight_ultra: 900;

//SIZES
$w_max: 1200px;
$w_min: 900px;
